<h1>BURGER TIME!</h1>

<h2>On Deck!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Homerun!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    <li>
      {{burger_name}}
    </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form create-burger">

  <div class="form-group">
    <label for="new">Burger Name:</label>
    <input type="text" id="new" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
</form>
